.App {
  text-align: center;
  color: green;
}

.App-logo {
  height: 40vmin;
  
}

.App-header {
  background-color: green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: green;
}

.imageHolder {
  background: green;
}

img {
  border-style: dotted;
  border-width: 4px;
  border-color:gold;
  width: 25%;
  height: auto;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}